--swiftversion 6.0
--indent 4
--wraparguments before-first
--wrapcollections before-first
--maxwidth 120
--self insert
--disable redundantSelf,nestedTernary,redundantType
--exclude .build,.tuist,Tuist/Derived,.specify
